provider "google" {
    project = "{{ common.project_id }}"
}

# Add all GCP services on project

module "project-services" {
  source  = "terraform-google-modules/project-factory/google/modules/project_services"
  project_id = "{{ common.project_id }}"
  activate_apis = [{% for service in common.enabled_services %}
    "{{ service }}.googleapis.com"
  {% endfor %}]
}